.container{
padding: 1.3rem;
background: rgb(255, 253, 253);
display: flex;
flex-direction: column;
gap: 1.2rem;
}

.backDropContainer{
    width: 100%;
    height: 30vh;
    background: url('https://images.unsplash.com/photo-1699891730676-037bed3c1bed?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    border-radius: 20px;

}

.backDropContainer img{
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 50%;
    position:absolute;
    bottom: -30%;
    left: 8%;
    text-align: center;
}

.profileContainer_details{
    padding-top: 6.6rem;
    
}

.card{
    display: flex;
    align-items: center;
    gap:1.4rem;
}

.card_profileContainer>img{
    width:3.4rem;
    height:auto;
    height: 3.4rem;
    object-fit: cover;
}

.connectBtn{
   padding-inline: 0.8rem;
   padding-block:0.3rem;
   background: rgba(3, 93, 183, 0.905); 
   outline: none;
   border: none;
   color: white;
   border-radius: 10px;
    cursor: pointer;
}

.workHistoryContainer{
    display: flex;
    gap: 1.4rem;
    padding-top: 1.4rem;
    width: 100%;
    flex-wrap: wrap;

}
.workHistoryCard{
    min-width: fit-content;
    padding-inline:1rem;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgb(173, 173, 173);
}

.profile_flexContainer{
    display: flex;
    gap: 0.7rem;
}
@media only screen and (max-width:600px){
    .profile_flexContainer{
        flex-direction: column;
    }
}